# **Introduction**

The California dataset provided in this project aims to provide insights into the California housing market by analyzing various features such as median income, housing median age, median house values, and ocean proximity.

In this project, we will explore the dataset to answer questions related to the distribution of data, relationship between features, handling of missing data, and creation of new features. We will also write a user-defined function to calculate the median value of the dataset.

In [4]:
#Importing required Libraries

import numpy as np
import pandas as pd
from matplotlib  import pyplot as plt
import seaborn as sns

In [6]:
 # loading Data
housing = pd.read_excel('C:/Users/Sanjay/Documents/GitHub/California-Housing-Dataset-Analysis/data/housing.xlsx')  

housing.head(6)         #readind data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY
5,-122.25,37.85,52,919,213.0,413,193,4.0368,269700,NEAR BAY